<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.app.andronews">
    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="true"
        android:icon="@drawable/icon_naruto"
        android:label="@string/app_name"
        android:roundIcon="@drawable/icon_naruto"
        android:supportsRtl="true"
        android:theme="@style/Theme.AndroNews">
        <activity android:name="com.app.andronews.MainActivity"
            android:label="@string/app_name"
            android:icon="@drawable/icon_naruto">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".DetailBerita"></activity>
        <activity android:name=".CatDetail"></activity>
    </application>
</manifest>